<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mengweijin.tester.system.mapper.DataSourceInfoMapper">

    <select id="getDataSourceInfoByCaseId" resultType="com.mengweijin.tester.system.entity.DataSourceInfo">
        select
            t1.id,
            t1.name,
            t1.url,
            t1.username,
            t1.password,
            t1.version,
            t1.deleted,
            t1.create_by,
            t1.create_time,
            t1.update_by,
            t1.update_time
        from AT_DATA_SOURCE_INFO t1
        left join AT_TEST_PROJECT t2 on t1.id = t2.data_source_id
        left join AT_TEST_API t3 on t2.id = t3.project_id
        left join AT_TEST_CASE t4 on t3.id = t4.api_id
        where t4.id = #{caseId}
    </select>
</mapper>
