<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mengweijin.tester.system.mapper.TestCaseMapper">

    <select id="selectDataSourceName" resultType="java.lang.String">
        select t3.name
        from AT_TEST_CASE t1
        left join AT_TEST_API t2 on t1.api_id=t2.id
        left join AT_DATA_SOURCE_INFO t3 on t2.dataSource_id=t3.id
        <where>
            t1.id=#{caseId}
        </where>
    </select>
</mapper>
