<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mengweijin.tester.system.mapper.TestStepMapper">

    <select id="getTestStepByApiId" resultType="com.mengweijin.tester.system.entity.TestStep">
        select
            t1.id,
            t1.case_id,
            t1.step,
            t1.default_index,
            t1.assert_key,
            t1.expect_value,
            t1.deleted,
            t1.create_by,
            t1.create_time,
            t1.update_by,
            t1.update_time
        from AT_TEST_STEP t1
        left join AT_TEST_CASE t2 on t1.case_id=t2.id
        left join AT_TEST_API t3 on t3.id=t2.api_id
        <where>
            t3.id=#{apiId}
        </where>
    </select>
</mapper>
